<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Analysis for {{business_no_underscore}}, {{state}}</title>
  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/scrolling-nav.css" rel="stylesheet">

  <style type="text/css">
  .styled-table {
      border-collapse: collapse;
      margin: 25px 0;
      font-size: 0.9em;
      font-family: sans-serif;
      min-width: 400px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  .styled-table thead tr {
      background-color: #009879;
      color: #ffffff;
      text-align: left;
  }
  .styled-table th,
  .styled-table td {
      padding: 12px 15px;
  }
  .styled-table tbody tr {
      border-bottom: 1px solid #dddddd;
  }

  .styled-table tbody tr:nth-of-type(even) {
      background-color: #f3f3f3;
  }

  .styled-table tbody tr:last-of-type {
      border-bottom: 2px solid #009879;
  }
  .button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
  </style>


</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Results for {{business_no_underscore}}, {{state}}</a>
    </div>
  </nav>

  <header class="bg-primary text-white">
    <div class="container text-center">
      <h1>{{short_string}}</h1>
      <p class="lead">{{long_string}}</p>
      <p>See below for more detailed output, graphs, and predictions
    </div>
  </header>


  <section id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Regression output</h2>
          <p class="lead"> Below are the coefficients of lagged COVID-19 variables in the
            linear regression model. The units of COVID-19 are in new daily cases
            per 100k population.
          <table class="styled-table">
              <thead>
                  <tr>
                      <th>Variable</th>
                      <th>Coefficient</th>
                      <th>Standard error</th>
                      <th>T statistic</th>
                      <th>P-value</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>COVID[t-1]</td>
                      <td>{{t1}}</td>
                      <td>{{t2}}</td>
                      <td>{{t3}}</td>
                      <td>{{t4}}</td>
                  </tr>
                  <tr>
                      <td>COVID[t-2]</td>
                      <td>{{t5}}</td>
                      <td>{{t6}}</td>
                      <td>{{t7}}</td>
                      <td>{{t8}}</td>
                  </tr>
                  <tr>
                      <td>COVID[t-3]</td>
                      <td>{{t9}}</td>
                      <td>{{t10}}</td>
                      <td>{{t11}}</td>
                      <td>{{t12}}</td>
                  </tr>
                  <tr>
                      <td>COVID[t-4]</td>
                      <td>{{t13}}</td>
                      <td>{{t14}}</td>
                      <td>{{t15}}</td>
                      <td>{{t16}}</td>
                  </tr>
              </tbody>
          </table>
          <p class="lead">
          The p-value for the hypothesis test that all of these coefficients are
          jointly 0 is {{p_value}}.
        </p>
        </div>

      </div>
    </div>
  </section>

  <section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>COVID-19 Graphs</h2>
          <p class="lead">Below are graphs of the number of cases for {{state}} since the beginning of April.
          <br><br> The top graph shows daily cases per 100k population, the middle graph shows unweighted daily cases,
          and the bottom graph shows cumulative total cases.
          <br><br>
          The graphs are interactive; you can select a time period on the bottom graph and the top graph
          will automatically zoom to the same time period.</p>
          <div id='vis'>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Predictions</h2>
          <p class="lead">My results can define a function between COVID-19 case rates
          and interst in a particular business. Given a potential path of COVID-19,
        my model predicts how interests would shift. You can choose which path to look
        at with the toggle to the upper left on the graphs. Shift clicking will allow
        you to examine multiple paths at the same time.
        <br><br> I have generated five possible paths below:
        <ul>
          <li> A constant path</li>
          <li> A path where the rate of COVID-19 cases change at a rate equal to the most recent change</li>
          <li> A path where the rate of COVID-19 cases change at a rate equal to the average change over the past seven days</li>
          <li> A random walk with no drift</li>
          <li> A random walk with drift equal to the average change over the past 60 days.</li>
        </ul>
        <br> Additionally, you can generate your own paths by filling out the form
        below the graph.
      </p>
        </div>
        <div id='vis2'>
        </div>
      </div>
    </div>
  </section>

  <section id="contact">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead">Pick your own data!  For reference, the most recent data in {{state}}
          was {{recent}} cases per 100k population.</p>
          <form id = "predictions" method = "post" action="/analysis">
            <label for="nov25">November 25th:</label>
            <input type="number" id="nov25" name="nov25"
                   min="0" max="500" value={{default}}>
          <label for="nov26">November 26th:</label>
           <input type="number" id="nov26" name="nov26"
                  min="0" max="500" value={{default}}>
          <label for="nov27">November 27th:</label>
          <input type="number" id="nov27" name="nov27"
          min="0" max="500" value={{default}}>
          <label for="nov28">November 28th:</label>
          <input type="number" id="nov28" name="nov28"
          min="0" max="500" value={{default}}>
          <label for="nov29">November 29th:</label>
          <input type="number" id="nov29" name="nov29"
          min="0" max="500" value={{default}}>
          <label for="nov30">November 30th:</label>
          <input type="number" id="nov30" name="nov30"
                min="0" max="500" value={{default}}>
          <label for="dec1">December 1st:</label>
          <input type="number" id="dec1" name="dec1"
          min="0" max="500" value={{default}}>
          <label for="dec2">December 2nd:</label>
          <input type="number" id="dec2" name="dec2"
          min="0" max="500" value={{default}}>
          <label for="dec3">December 3rd:</label>
          <input type="number" id="dec3" name="dec3"
          min="0" max="500" value={{default}}>
          <label for="dec4">December 4th:</label>
          <input type="number" id="dec4" name="dec4"
          min="0" max="500" value={{default}}>
          <label for="dec5">December 5th:</label>
          <input type="number" id="dec5" name="dec5"
          min="0" max="500" value={{default}}>
          <label for="dec6">December 6th:</label>
          <input type="number" id="dec6" name="dec6"
          min="0" max="500" value={{default}}>
          <label for="dec7">December 7th:</label>
          <input type="number" id="dec7" name="dec7"
          min="0" max="500" value={{default}}>
          <label for="dec8">December 8th:</label>
          <input type="number" id="dec8" name="dec8"
          min="0" max="500" value={{default}}>
        <input type="submit" class="button">
          </form>
        </div>
      </div>
    </div>
  </section>


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom JavaScript for this theme -->
  <script src="static/js/scrolling-nav.js"></script>


  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.0.2"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>

  <script>
     var embedOpt = {"mode": "vega-lite"};
     var example_spec = {{chart_json | safe}}
     vegaEmbed("#vis", example_spec);
  </script>

  <script>
     var embedOpt = {"mode": "vega-lite"};
     var example_spec = {{chart_json_2 | safe}}
     vegaEmbed("#vis2", example_spec);
  </script>
</body>

</html>
