<!DOCTYPE html>
<html lang="en" dir="ltr">
<title> Nick Kirby's Capstone </title>
<div class=page>
  <h1> Welcome to my capstone project! </h1>
  <p> For my project, I examined how Coronavirus disease 2019 (COVID-19) influenced
    consumer interests in the United States.  I used data from Google Trend's API
    to measure consumer interest, and performed regression analysis using Python
    to described which types of businesses were and were not influenced by COVID-19.
  </p>

  <h3> To examine how your business is affected by COVID-19, please enter your
    information below: </h3>
    <form id="state_select" method = "post" action="/">
      <label for="state">State:</label>
      <select id="state" name="state">
        <option>Alabama</option>
	      <option>Alaska</option>
      	<option>Arizona</option>
      	<option>Arkansas</option>
      	<option>California</option>
      	<option>Colorado</option>
      	<option>Connecticut</option>
      	<option>Delaware</option>
      	<option>District Of Columbia</option>
      	<option>Florida</option>
      	<option>Georgia</option>
      	<option>Hawaii</option>
      	<option>Idaho</option>
      	<option>Illinois</option>
      	<option>Indiana</option>
      	<option>Iowa</option>
      	<option>Kansas</option>
      	<option>Kentucky</option>
      	<option>Louisiana</option>
      	<option>Maine</option>
      	<option>Maryland</option>
      	<option>Massachusetts</option>
      	<option>Michigan</option>
      	<option>Minnesota</option>
      	<option>Mississippi</option>
      	<option>Missouri</option>
      	<option>Montana</option>
      	<option>Nebraska</option>
      	<option>Nevada</option>
      	<option>New Hampshire</option>
      	<option>New Jersey</option>
      	<option>New Mexico</option>
      	<option>New York</option>
      	<option>North Carolina</option>
      	<option>North Dakota</option>
      	<option>Ohio</option>
      	<option>Oklahoma</option>
      	<option>Oregon</option>
      	<option>Pennsylvania</option>
      	<option>Rhode Island</option>
      	<option>South Carolina</option>
      	<option>South Dakota</option>
      	<option>Tennessee</option>
      	<option>Texas</option>
      	<option>Utah</option>
      	<option>Vermont</option>
      	<option>Virginia</option>
      	<option>Washington</option>
      	<option>West Virginia</option>
      	<option>Wisconsin</option>
      	<option>Wyoming</option>
      </select>
      <p>
      <label for="business">Business:</label>
      <select id="business" name="business">
        tags = ['bakery','bar','board games','brewery','cafe','concert',
        'food delivery','grocery','hotel','liquor store', 'nightclub', 'restaurant delivery', 'restaurants']
        <option value="bakery">Bakery</option>
	      <option value="bar">Bar</option>
      	<option value="brewery">Brewery</option>
      	<option value="cafe">Cafe</option>
      	<option value="concert">Concert</option>
      	<option value="food delivery">Food Delivery</option>
      	<option value="grocery">Grocery Store</option>
      	<option value="hotel">Hotel</option>
        <option value="liquor store">Liquor Store</option>
      	<option value="nightclub">Nightclub</option>
        <option value="restaurants">Restaurant</option>
      </select>
    </p>
      <input type="submit">
    </form>

    <h3> For a list describing how different businesses by been impacted
      by COVID-19, click HERE.
    </h3>
</div>
</html>
