<!DOCTYPE html>
<html lang="en" dir="ltr">
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<meta charset="utf-8">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<head>
  <title>Test</title>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega@5"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-lite@4.0.2"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm//vega-embed@6"></script>
</head>
<body>

<div>
<p> Your chosen state is {{state_html}} </p>
<p> Your chosen business is {{business_html}} </p>
<p> The most recent COVID data is from {{date_string}}. </p>

</div>
         <div><p>Below is a plot of the COVID-19 case occurrence in {{state_html}}. <p>
              <p>The top plot measures the 7-day average of new cases, while the
                bottom measures cumulative cases. A window can be selected in the bottom
                plot to examine the top plot more closely </p>
               <div id='vis'>
               </div>
             </div>



             <table class="tg">
             <thead>
               <tr>
                 <th class="tg-0pky"></th>
                 <th class="tg-0pky"><span style="font-weight:bold">coef</span></th>
                 <th class="tg-0pky"><span style="font-weight:bold">std error</span></th>
                 <th class="tg-0pky"><span style="font-weight:bold">t-value</span></th>
                 <th class="tg-0pky"><span style="font-weight:bold">p-value</span></th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td class="tg-0pky"><span style="font-weight:bold">COVID -1</span></td>
                 <td class="tg-0pky">{{t1}}</td>
                 <td class="tg-0pky">{{t2}}</td>
                 <td class="tg-0pky">{{t3}}</td>
                 <td class="tg-0pky">{{t4}}</td>
               </tr>
               <tr>
                 <td class="tg-0pky"><span style="font-weight:bold">COVID -2</span></td>
                 <td class="tg-0pky">{{t5}}</td>
                 <td class="tg-0pky">{{t6}}</td>
                 <td class="tg-0pky">{{t7}}</td>
                 <td class="tg-0pky">{{t8}}</td>
               </tr>
               <tr>
                 <td class="tg-0lax"><span style="font-weight:bold">COVID -3</span></td>
                 <td class="tg-0lax">{{t9}}</td>
                 <td class="tg-0lax">{{t10}}</td>
                 <td class="tg-0lax">{{t11}}</td>
                 <td class="tg-0lax">{{t12}}</td>
               </tr>
               <tr>
                 <td class="tg-0lax"><span style="font-weight:bold">COVID -4</span></td>
                 <td class="tg-0lax">{{t13}}</td>
                 <td class="tg-0lax">{{t14}}</td>
                 <td class="tg-0lax">{{t15}}</td>
                 <td class="tg-0lax">{{t16}}</td>
               </tr>
             </tbody>
             </table>


<div>





</div>


<script>
   var embedOpt = {"mode": "vega-lite"};
   var example_spec = {{chart_json | safe}}
   vegaEmbed("#vis", example_spec);
</script>

      </body>
        </html>
